body{
    background-color: rgb(0, 0, 50);    /*setting the webpage colour to dark blue*/
}

p {
    font-size: 20px;            
    color: white;
    font-family: Segoe UI;
}
.message {
    margin-bottom: 0;
}
.final-score{
    margin-top: 0;
}

button{
    width: 50px;
    height: 30px;
}

.display-top{               
    display: flex;                      /*Setting the text on top of the screen to be evenly spaced*/
    justify-content: space-between;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hori{
    display: flex;
    justify-content: center;
}

.left{
    margin-right: 12px;
}

.right{
    margin-left: 12px;
}
.vert-up{
    display: flex;
    justify-content: center;
}

.vert-down{
    display: flex;
    justify-content: center;
}
.snake-head {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(0, 255, 0);
    left: 40;
    top: 0;
    z-index: 100;
}
.snake-body{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: green;
    left: 20;
    top: 0;
    z-index: 100;
}
.snake-tail{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: green;
    left: 0;
    top: 0;
    z-index: 100;
}
.grid{                              /*500 x 500 grid of black colour*/
    width: 500px;
    height: 500px;
    background-color: black;
    position: relative;
    margin-bottom: 30px;
}

.lightblue-food{
    position: absolute;
    background-color: lightblue;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
}

.purple-food{
    position: absolute;
    background-color: purple;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
}

.yellow-food{
    position: absolute;
    background-color: yellow;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
}

.orange-food{
    position: absolute;
    background-color: orange;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
}

.red-food{
    position: absolute;
    background-color: red;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
}

.order-text, .message, .final-score{
    text-align: center;
}

.message, .final-score {
    color: rgb(0, 255, 0);
}
.colors-order{
    display: flex;
    justify-content: center;
}

.lightblue-food-display{
    display: inline-block;
    background-color: lightblue;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    margin-right: 5px;
}

.purple-food-display{
    display: inline-block;
    background-color: purple;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    margin-right: 5px;
}

.yellow-food-display{
    display: inline-block;
    background-color: yellow;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    margin-right: 5px;
}

.orange-food-display{
    display: inline-block;
    background-color: orange;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    margin-right: 5px;
}

.red-food-display{
    display: inline-block;
    background-color: red;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    margin-right: 5px;
}